@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
    font-size: 0.8em !important;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    position: fixed;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #0080c1;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    height: 100vh;
}

.main-color {
    background: #0080c1;
    color: #fff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#sidebar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #0080c1;
}

#sidebar ul.components {
    padding: 0 0 39px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 0.9em;
    display: block;
}

#sidebar ul li a:hover {
    color: #0080c1;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #085b86;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0080c1;
}

#sidebar .profile {
    position: fixed;
    bottom: 0px;
    width: inherit;
    background-color: #085b86;
    min-width: 250px;
    max-width: 250px;
    color: white;
    padding: 8px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    overflow-y: scroll;
    height: 100vh;
    /*position: fixed;*/
}

#content .top-navbar {
    margin-bottom: 8px !important;
    /*margin-top: 1px;*/
    border-bottom: 2px solid #0080c1;
    box-shadow: 0 .325rem .15rem rgba(0, 0, 0, .075) !important;
}

.form-control {
    font-size: .99em;
    border-radius: 0;
    transition: 0.3s ease-in-out;
}

.form-control:focus {
    box-shadow: unset;
    border-color: #996567;
}

.nav-tabs {
    border-bottom: unset;
}

.tab-content {
    padding: 0 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-top: 2px solid #0080c1;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #996566;
}

.disp-Info {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #996567;
    color: #fff;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

/* Fix columns selection button */
#columnSelect-table {
    min-width: 150px;
    background: #f2f2f2;
}

/* ---------------------------------------------------
    CARD TOOLD
----------------------------------------------------- */

.card-tools {
    display: block;
    float: none;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    text-align: right;
    margin-top: -8px !important;
}

.card-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4 !important;
}

.card-tools a.btn-primary {
    color: #fff !important;
}

.card-tools .custom-dropdown-menu>li>a {
    padding: 4px 10px;
    font-size: 12px;
    color: #676a6c !important;
}

.card .card-tools.open>.custom-dropdown-menu {
    left: auto;
    right: 0;
}

.card-tools .dropdown-toggle::after {
    display: none;
}

/* ---------------------------------------------------
    LIVEWIRE WIZARD
----------------------------------------------------- */

.steps {
    border: 1px solid #e7e7e7
}

.steps-header {
    padding: .375rem;
    border-bottom: 1px solid #e7e7e7
}

.steps-header .progress {
    height: .25rem
}

.steps-body {
    display: table;
    table-layout: fixed;
    width: 100%
}

.step {
    display: table-cell;
    position: relative;
    padding: 1rem .75rem;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-right: 1px dashed #dfdfdf;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 600;
    text-align: center;
    text-decoration: none
}

.step:last-child {
    border-right: 0
}

.step-indicator {
    display: block;
    position: absolute;
    top: .75rem;
    left: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    background-color: #fff;
    font-size: .875rem;
    line-height: 1.375rem
}

.has-indicator {
    padding-right: 1.5rem;
    padding-left: 2.375rem
}

.has-indicator .step-indicator {
    top: 50%;
    margin-top: -.75rem
}

.step-icon {
    display: block;
    width: 1.5rem;
    font-size: 1.5em;
    height: 1.5rem;
    margin: 0 auto;
    margin-bottom: .75rem;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: #888
}

.step:hover {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none
}

.step:hover .step-indicator {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-color: transparent;
    background-color: #f4f4f4
}

.step:hover .step-icon {
    color: rgba(0, 0, 0, 0.9)
}

.step-active,
.step-active:hover {
    color: rgba(0, 0, 0, 0.9);
    pointer-events: none;
    cursor: default;
    background: #085b8612;
}

.progress-bar {
    background: #0080c1 !important;
}

.step-active .step-indicator,
.step-active:hover .step-indicator {
    border-color: transparent;
    background-color: #5c77fc;
    color: #fff
}

.step-active .step-icon,
.step-active:hover .step-icon {
    color: #0080c1
}

.step-completed .step-indicator,
.step-completed:hover .step-indicator {
    border-color: transparent;
    background-color: rgba(51, 203, 129, 0.12);
    color: #33cb81;
    line-height: 1.25rem
}

.step-completed .step-indicator .feather,
.step-completed:hover .step-indicator .feather {
    width: .875rem;
    height: .875rem
}

@media (max-width: 575.98px) {
    .steps-header {
        display: none
    }

    .steps-body,
    .step {
        display: block
    }

    .step {
        border-right: 0;
        border-bottom: 1px dashed #e7e7e7
    }

    .step:last-child {
        border-bottom: 0
    }

    .has-indicator {
        padding: 1rem .75rem
    }

    .has-indicator .step-indicator {
        display: inline-block;
        position: static;
        margin: 0;
        margin-right: 0.75rem
    }
}

/* ---------------------------------------------------
LIVEWIRE TABS
----------------------------------------------------- */
.tabs .tab-item {
    border: none;
    background: none;
    padding-bottom: 5px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 22px;
}

.tabs .tab-item:hover {
    color: #0080c1;
}

.tabs .tab-item:focus,
.tabs .tab-item:focus-visible {
    outline: none;
}

.tabs .tab-item.active {
    border-bottom: 3px solid #0080c1;
    font-weight: bold;
}

/* ---------------------------------------------------
    NOTIFICATIONS STYLES
----------------------------------------------------- */
.notification {
    margin-right: 20px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification .badge {
    position: absolute;
    top: -5px;
    right: -8px;
    padding: 5px 10px;
    border-radius: 50%;
    background: #0080c1;
    color: white;
}

/* ---------------------------------------------------
    DASHBOARD CARDS STYLES
----------------------------------------------------- */

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg, #03405f, #0080c1);
}

.bg-c-green {
    background: linear-gradient(45deg, #03405f, #0080c1);
}

.bg-c-yellow {
    background: linear-gradient(45deg, #03405f, #0080c1);
}

.bg-c-pink {
    background: linear-gradient(45deg, #03405f, #0080c1);
}

.card {
    border-radius: 0 !important;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    margin-bottom: 15px;
}

.card.tab-content {
    margin-bottom: 0 !important;
}

.card .card-header {
    background-color: #fff !important;
    font-weight: bold !important;
    text-transform: uppercase;
}

.card .card-body {
    padding: 1rem !important;
}

.tab-content {
    border-radius: 0px;
    /*border: none;*/
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #dfe2e6 !important;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.form-control {
    font-size: .99em;
    border-radius: 0;
    transition: 0.3s ease-in-out;
}

.form-control:focus {
    box-shadow: unset;
    border-color: #996567;
}

.swal2-textarea {
    height: 3.75em !important;
    padding: .75em !important;
    box-shadow: unset !important;
    border-color: #996567 !important;
}

.swal2-title {
    font-size: 20px !important;
}

.bg-secondary {
    background-color: #e9e9e9 !important;
}

.bg-alt {
    background-color: #00b32036 !important;
}

.btn,
input,
select {
    border-radius: 0 !important;
}

.btn {
    font-size: .9em
}


/* ---------------------------------------------------
    NAVBAR CUSTOMIZATION
----------------------------------------------------- */
.nav-tabs .nav-link {
    border-radius: 0 !important;
}

.nav-link {
    padding: 0.5rem 2rem;
}

/* ---------------------------------------------------
    FILE ITEMS
----------------------------------------------------- */
.file-item {
    background: #faf5f5;
    color: #036a9e;
    border: .5px solid #036a9e24;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
}

.file-item:hover {
    background: #036a9e24;
}

/* ---------------------------------------------------
    LOGIN PAGE
----------------------------------------------------- */
#logo {
    /*display: block;*/
    /*position: absolute;*/
    top: -60px;
    width: 100px;
    height: 100px;
    /*padding: 10px;*/
    left: 35%;
    /*border: 1px solid #7c7c7c;*/
    /*border-radius: 5%;*/
    object-fit: contain;
    background: #fff;
}

.swal2-container {
    z-index: 20000 !important;
}

[x-cloak] {
    display: none !important;
}

.spinner-border-xs {
    width: 0.8rem;
    height: 0.8rem;
    border-width: 0.15em;
}

.swal2-icon.swal2-error {
    border: none;
}

.swal2-popup.swal2-toast .swal2-title {
    margin: 0.5em 0.5em;
}

div.table-bordered {
    border: none;
}

.modal-header {
    border-bottom: 1px solid #0080c1;
    padding: 12px 22px !important;
}

.modal-title {
    font-weight: bold;
}

/* ---------------------------------------------------
    TOP NAV LOADING INDICATOR
----------------------------------------------------- */
.loading-container {
    width: 100%;
    margin: auto;
  }
  
  .progress-bar {
    height: 4px;
    background-color: rgba(5, 114, 206, 0.2);
    width: 100%;
    overflow: hidden;
  }
  
  .progress-bar-value {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 114, 206);
    animation: animate 1s infinite linear;
    transform-origin: 0% 50%;
  }


  @keyframes animate {
    0% {
      transform:  translateX(0) scaleX(0);
    }
    40% {
      transform:  translateX(0) scaleX(0.4);
    }
    100% {
      transform:  translateX(100%) scaleX(0.5);
    }
  }

/*Ball Spinner*/
.ball-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303234;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    width: 100%;
    height: 100%;
    opacity: .75;
    animation: move 4s linear infinite
}
.la-ball-clip-rotate-multiple,
.la-ball-clip-rotate-multiple > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.la-ball-clip-rotate-multiple {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-clip-rotate-multiple.la-dark {
    color: #333;
}
.la-ball-clip-rotate-multiple > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-clip-rotate-multiple {
    width: 32px;
    height: 32px;
}
.la-ball-clip-rotate-multiple > div {
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    -webkit-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
    -moz-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
    -o-animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
    animation: ball-clip-rotate-multiple-rotate 1s ease-in-out infinite;
}
.la-ball-clip-rotate-multiple > div:first-child {
    position: absolute;
    width: 32px;
    height: 32px;
    border-right-color: transparent;
    border-left-color: transparent;
}
.la-ball-clip-rotate-multiple > div:last-child {
    width: 16px;
    height: 16px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
}
.la-ball-clip-rotate-multiple.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-clip-rotate-multiple.la-sm > div {
    border-width: 1px;
}
.la-ball-clip-rotate-multiple.la-sm > div:first-child {
    width: 16px;
    height: 16px;
}
.la-ball-clip-rotate-multiple.la-sm > div:last-child {
    width: 8px;
    height: 8px;
}
.la-ball-clip-rotate-multiple.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-clip-rotate-multiple.la-2x > div {
    border-width: 4px;
}
.la-ball-clip-rotate-multiple.la-2x > div:first-child {
    width: 64px;
    height: 64px;
}
.la-ball-clip-rotate-multiple.la-2x > div:last-child {
    width: 32px;
    height: 32px;
}
.la-ball-clip-rotate-multiple.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-clip-rotate-multiple.la-3x > div {
    border-width: 6px;
}
.la-ball-clip-rotate-multiple.la-3x > div:first-child {
    width: 96px;
    height: 96px;
}
.la-ball-clip-rotate-multiple.la-3x > div:last-child {
    width: 48px;
    height: 48px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-moz-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-o-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -o-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -o-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -o-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
        -moz-transform: translate(-50%, -50%) rotate(180deg);
        -o-transform: translate(-50%, -50%) rotate(180deg);
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        -moz-transform: translate(-50%, -50%) rotate(360deg);
        -o-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/*Custom Dropdown*/

.customized-dropdown-menu {
    width: 280px;
    padding: 0;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-height: 40vh;
    overflow-y: scroll;
}

.customized-dropdown-menu li {
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    padding: 7.5px 15px;
    border: solid 1px #d7dbdb;
    background-color: #FFFFFF;
}

.customized-dropdown-menu li:hover {
    background-color: #007bff;
    color: #FFFFFF;
}

.font-x-large {
    font-size: x-large;
}

.font-large {
font-size: large;
}

.file-blue-border {
background: #faf5f5; 
color: #036a9e; 
border: .5px solid #036a9e24;
}

.green-status {
border-radius: 1rem;
background: #72DC3559; 
color: #319e0a; 
font-size: 85%
}

.pending-status {
border-radius: 1rem; 
background: rgba(53,220,220,0.35); 
color: #1caecf; 
font-size: 85%
}

.draft-status {
border-radius: 1rem; 
background: rgba(220,181,53,0.35); 
color: #cfa51c; font-size: 85%
}

.danger-status {
border-radius: 1rem; 
background: rgba(220,53,53,0.35); 
color: #cf1c1c; 
font-size: 85%"
}